extends layout

block content
    h1 Homepage of Christopher Ochsenreither
    h4 Mostly developing on the MERN stack these days (Mongodb, Node.js, Express, React).
    img(src="/images/IMG_0293.jpeg" width="150")
    p 
        a(href="https://github.com/ochsec", target="_blank") Github
    p Current Projects
    ul
        li Streaming-IP-Camera-Nodejs - View IP cameras on webpage. Records video to disk when motion is detected. 
            a(href="https://github.com/ochsec/Streaming-IP-Camera-Nodejs", target="_blank") source code
        li JSBlockchain - a blockchain implementation in Node.js 
            a(href="https://github.com/ochsec/JSblockchain", target="_blank") source code
        li qw3rt - anonymous chat app built with SockJS/Expressjs/Mongodb 
            a(href="https://github.com/ochsec/qw3rt", target="_blank") source code
        li Fly.me - Lyft for small aircraft built on Strapi.io/Mongodb 
            a(href="https://github.com/ochsec/Fly.me", target="_blank") source code
        li sproutbabies.com - online shop written in Django 
            a(href="https://github.com/ochsec/sprout-babies", target="_blank") source code
        li Russell 2000 stock index API - a JSON API that provides web-scraped data 
            a(href="https://gist.github.com/ochsec/40d58040ca5fac7d3557714065e141d6", target="_blank") source code

    p 
      a(href="https://homepage.ochsec1.repl.co/cv" target="_blank") Resume   

    p Certifications

    p
      a(href="https://www.freecodecamp.org/" target="_blank") Freecodecamp

    ul
      li
        a(href="https://www.freecodecamp.org/certification/ochsec/front-end-development-libraries" target="_blank") Front End Development Libraries
      li
        a(href="https://freecodecamp.org/certification/ochsec/back-end-development-and-apis" target="_blank") Back End Developer and APIs

    p       
      a(href="https://www.hackerrank.com/", target="_blank") Hackerrank

    ul
      li
        a(href="https://www.hackerrank.com/certificates/7f503c124a24", target="_blank") Javascript (Intermediate)
      li 
        a(href="https://www.hackerrank.com/certificates/d5be61dc504e", target="_blank") Node (Basic)
      li
        a(href="https://www.hackerrank.com/certificates/530ae197eb79" target="_blank") Problem Solving (Basic)

    p This page was written with 
        a(href="https://pugjs.org", target="_blank") pug

