extends layout

block content
    h1 Homepage of Christopher Ochsenreither
    h4 Mostly developing on the MERN stack these days (Mongodb, Node.js, Express, React).
    <div class="tenor-gif-embed" data-postid="12386155" data-share-method="host" data-width="200px" data-aspect-ratio="1.0">
        <a href="https://tenor.com/view/cactuar-final-fantasy-ffs-gamer-gif-12386155">Cactuar Final Fantasy GIF</a> from <a href="https://tenor.com/search/cactuar-gifs">Cactuar GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    p 
        a(href="https://github.com/ochsec", target="_blank") Github
    p Current Projects
    ul
        li Streaming-IP-Camera-Nodejs - View IP cameras on webpage. Records video to disk when motion is detected. 
            a(href="https://github.com/ochsec/Streaming-IP-Camera-Nodejs", target="_blank") source code
        li JSBlockchain - a blockchain implementation in Node.js 
            a(href="https://github.com/ochsec/JSblockchain", target="_blank") source code
        li qw3rt - anonymous chat app built on Strapi.io/Mongodb 
            a(href="https://github.com/ochsec/qw3rt", target="_blank") source code
        li Fly.me - Lyft for small aircraft built on Strapi.io/Mongodb 
            a(href="https://github.com/ochsec/Fly.me", target="_blank") source code
        li sproutbabies.com - online shop written in Django 
            a(href="https://github.com/ochsec/sprout-babies", target="_blank") source code
        li Russell 2000 stock index API - a JSON API that provides web-scraped data 
            a(href="https://gist.github.com/ochsec/40d58040ca5fac7d3557714065e141d6", target="_blank") source code

    p This page was written with 
        a(href="https://pugjs.org", target="_blank") pug

