doctype html
html
    head
        title=title
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Major+Mono+Display&display=swap")
    body 
        block content
