* {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

body {
    background: rgb(46,46,46);
    color: rgb(214,214,214);
    margin: 5% 10% 10% 10%;
}

a {
  color: rgb(108,153,187);
}

h2 {
  margin-top: 3rem;
}

h4 {
  color: rgb(180,210,115);
}

strong {
  color: rgb(180,210,115);
}